.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  width: 25%;/* wrapper(container)• 영역의 width를 30%로 설정•*/ 
  margin: auto;/* wrapper(container) 영역을 브라우저에서 가운데 정렬하기. 위해 au text-align: center; /* inline-block화•된 div들을· 텍스트• 처럼•center로•정렬*/
}
  .wrapper > div {
  width: 50%; 
  float: left;
  }

